<<<<<<< HEAD

body{
    font-family: 'inter';
    margin: 0 10px;
}
a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color:black;
}
nav{
    display: flex;
    width:1330px;
    margin: auto;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
.search-section{
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;    
    border:1px solid  #d3d3d3;
    border-radius:35px;
    box-shadow: 0px 2px #d3d3d3;
}
.microscope{
    background-color: #ff5a5f;
    padding: 7px;
    border-radius: 100px;
    
}
.search-section a{
    margin: 15px 15px; 
}
.profile-section{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: space-between;
}
.profile-section img{
    width: 15px;
    height: 15px;
}
#mini-profile{
    display: flex;
    align-items: center;
    gap:15px;
    padding: 4px 10px;    
    border:1px solid #d3d3d3;
    border-radius:35px;
    box-shadow: 0px 2px #d3d3d3;
}
.scroll-bar-border{
    width: 100%;
    margin-top: 30px;
    border-top:1px #d3d3d3 solid;
    border-bottom:1px #d3d3d3 solid;

}
.scroll-bar{
    display: flex;
    width:1330px;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 12px;
    align-items: center ;
}
.scroll-bar section{
    flex-direction:column;
    align-items: center;
}
.scroll-bar section:first-child{
    border-bottom: 2px solid #000000;
    font-weight: bold;
}
.filter{
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    border:1px solid #d3d3d3;
    padding:5px 20px;
    border-radius:15px;
    box-shadow: 0px 2px #d3d3d3;
}
.filter img{
    margin-right: 10px;

=======

body{
    font-family: 'inter';
    margin: 0 10px;
}
a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color:black;
}
nav{
    display: flex;
    width:1330px;
    margin: auto;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
.search-section{
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;    
    border:1px solid  #d3d3d3;
    border-radius:35px;
    box-shadow: 0px 2px #d3d3d3;
}
.microscope{
    background-color: #ff5a5f;
    padding: 7px;
    border-radius: 100px;
    
}
.search-section a{
    margin: 15px 15px; 
}
.profile-section{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: space-between;
}
.profile-section img{
    width: 15px;
    height: 15px;
}
#mini-profile{
    display: flex;
    align-items: center;
    gap:15px;
    padding: 4px 10px;    
    border:1px solid #d3d3d3;
    border-radius:35px;
    box-shadow: 0px 2px #d3d3d3;
}
.scroll-bar-border{
    width: 100%;
    margin-top: 30px;
    border-top:1px #d3d3d3 solid;
    border-bottom:1px #d3d3d3 solid;

}
.scroll-bar{
    display: flex;
    width:1330px;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    align-items: center ;
}
.scroll-bar section{
    flex-direction:column;
    align-items: center;
}
.scroll-bar section:first-child{
    border-bottom: 2px solid #000000;
    font-weight: bold;
}
.filter{
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    border:1px solid #d3d3d3;
    padding:5px 20px;
    border-radius:15px;
    box-shadow: 0px 2px #d3d3d3;
}
.filter img{
    margin-right: 10px;

>>>>>>> c002f60e4b1f0c8f7422d1fba158ccfc720db313
}