body{
    font-family: 'Inter';
    width:1330px;
    margin: auto;
}
a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color:black;
}
nav{
    display: flex;
    width:1330px;
    margin: auto;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
.search-section{
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;    
    border:1px solid  #ffffff;
    border-radius:35px;
    box-shadow: 0px 2px #cccccc;
}
.microscope{
    background-color: #ff5a5f;
    padding: 7px;
    border-radius: 100px;
    
}
.search-section a{
    margin: 15px 15px; 
}
.profile-section{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: space-between;
}
.profile-section img{
    width: 15px;
    height: 15px;
}
#mini-profile{
    display: flex;
    align-items: center;
    gap:15px;
    padding: 4px 10px;    
    border:1px solid #d3d3d3;
    border-radius:212px;
    box-shadow: 0px 0px 17px 11px  rgba(86, 86, 86, 0.25);;
}
.scroll-bar-border{
    width: 100%;
    margin-top: 34px;
    border-top:0.5px #b1aeae solid;

}
.scroll-bar{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    gap: 20px;
    width:1330px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 12px;
    align-items: center ;
}
.scroll-bar__boxes{
    display: flex;
    justify-content: space-evenly;
    flex-grow:2;
    overflow-x: scroll;
}
.scroll-bar__boxes::-webkit-scrollbar {
    display: none;
}
.scroll-bar section{
    display: flex;
    flex-direction:column;
    align-items: center;
    min-width:100px;
}
.scroll-bar section:first-child{
    border-bottom: 2px solid #000000;
    font-weight: bold;
}
.filter{
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    border:1px solid #d3d3d3;
    padding:5px 20px;
    border-radius:15px;
    box-shadow: 0px 2px #d3d3d3;
}
.filter img{
    margin-right: 10px;
    justify-content: space-evenly;
}
.listings{
    display: grid;
    grid-template-columns:repeat(4,2fr);
    justify-content: end;
    gap:22.5px;
    margin-top: 32px;
}
.listing__cards{
    display: flex;
    flex-direction: column;
}
.listing-card__img{
display: flex;
}
.listing-card__location-img{
   position: relative;
   min-width: 301px;
   min-height: 286px;
   width: 100%;
}

.listing-card__favourite{
  position:absolute;
  top:8px;
  right:20px;
}

.listing-card__rating{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.listing-card__rating-star{
    display:flex;
    align-items: center;

}