.heading1{    
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 49px;
line-height: 57px;

}
.heading2{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 31px;
}
.heading3{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;
}
.heading4{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 23px;
}
.heading5{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
}